@{
    ViewData["Title"] = "Home Page";
    @* Layout = "_NoNav"; *@
    string? LastPet = Context.Session.GetString("LastPet");
    bool Contributed = LastPet != null;
}
@model Pet
<div class="text-center">
    @* <form action="/process" method="post">
        <div class="mb-3">
            <label for="Name">Name</label>
            <input type="text" name="Name" id="Name">
        </div>
        <div class="mb-3">
            <label for="Species">Species</label>
            <input type="text" name="Species" id="Species">
        </div>
        <div class="mb-3">
            <label for="Age">Age</label>
            <input type="number" name="Age" id="Age">
        </div>
        <div class="mb-3">
            <label for="Cute">Cute</label>
            <input type="checkbox" name="Cute" id="Cute" value="True">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form> *@
    <form asp-action="Process" asp-controller="Home" method="post">
        <div class="mb-3">
            <label asp-for="Name">Hard Coded Name</label>
            <input asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Species"></label>
            <select asp-for="Species" asp-items="@ViewBag.Options" >
            </select>
            <span asp-validation-for="Species" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Age"></label>
            <input asp-for="Age">
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Cute"></label>
            <input asp-for="Cute">
            <span asp-validation-for="Cute" class="text-danger"></span>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    <p>Last pet created @( Contributed ? LastPet : "Please fill out form and add a pet")</p>
    @if(Contributed)
    {
        <a asp-action="Results" asp-controller="Home" class="btn btn-primary">See The Pets</a>
    }
</div>
